.SearchBlogBlock {
    width: 100%;
    &:first-of-type {
        margin-top: 0 !important;
    }
    margin-top: 30px;
    .SearchBlogBlock__image {
        width: 300px;
        height: 200px;
        &:first-of-type {
            margin-top: 0 !important;
        }
        margin-top: 30px;
        // height: 250px;
    }
    .SearchBlogBlock__icon {
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }
    .searcstst {
        display: flex;
        align-items: center;
    }
    .SearchBlogBlock__info {
        width: 70%;
        height: 100%;
        margin-left: 10px;
    }
    .NewsBlock__user {
        margin: 10px;
        display: flex;
    }
    .svg-icon {
        color: #2e0c3fce;
        //#3F292B
    }

    .autor-name {
        font-weight: 500;
        color: #ce9c6b;
    }
    .NewsBlock__margin {
        margin-left: 10px;
    }
    .SearchBlogBlock__link {
        color: black;
    }



}
.SearchBlogBlock__margin {
    margin-top: 30px ;
}