.text__recomend {
    margin-top: 60px;
    color: #ce9c6b;
    font-size: 25px;
    font-family: "Permanent Marker", cursive;
    font-weight: 800;
    padding-top: 10px;

  }
  .testing {
    width: 200px;
    position: relative;
    height: 60px;
    background-image: url("https://png.klev.club/uploads/posts/2024-05/png-klev-club-7cfu-p-chernaya-kraska-png-5.png");
    // https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQ2pWFmSLXGrnTyOEaI1cm4XzQ_WX9NY5EBw&s
    background-position-y: -15px;
    background-position-x: -4px;
    background-size: cover;
    z-index: 0;
  }